@font-face {
    font-family: myFont2;
    src: url(fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: myFont3;
    src: url(fonts/Rubik-ExtraBold.ttf);
}

.main{
    margin-top: 60px;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info{
    font-family: 'myFont3';
    text-align: center;
    padding-top: 70px;

    font-size: 30px;
    letter-spacing: 5px;


    align-items: center;
}

.name{
    margin-bottom: 10px;
    /* border-style: solid; */
    /* border-color: orange; */

    transition: text-shadow 0.1s ease;
}

.name:hover{
    text-shadow: -5px 10px rgb(112, 2, 254);
}

.resume{
    font-family: 'myFont3';
    font-size: 30px;
    font-weight: bold;
    color: rgb(112, 2, 254);

    background-color: transparent;
    border-style: solid;
    border-color: rgb(112, 2, 254);
    border-radius: 15px;

    padding: 10px 20px 10px 20px;

    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.resume:hover{
    background-color: rgb(112, 2, 254);
    color: white;
}

.about{
    font-family: 'myFont2';
}

.abtext{
    margin: 0px 100px 0px 100px;
}